body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    height: calc(100vh - 40px); 
  }
  
  .chat {
    width: 30%;
    overflow-y: auto; 
    border-right: 1px solid #ccc; /* 우측에 경계선 추가 */
  }
  
  .scheduler {
    width: 70%;
    overflow-y: auto; 
  }
  

  .chat, .scheduler {
    padding: 5px;
  }
  
  